@model SARVA.Models.Venda

@{
    ViewData["Title"] = "DetalhesVenda";
}

<h1>DetalhesVenda</h1>

<div>
    <h4>Venda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_venda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_vencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_vencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_pagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_pagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.desconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.desconto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.id_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.id_usuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
